<div class="gdc-section__paragraph-section section--{{ section.id }}">
  <div class="gdc-section__paragraph section--{{ section.id }}">
    {% if title %}
      <h2>{{ title }}</h2>
    {% endif %}
    {% if subtitle %}
      <h5>{{ subtitle }}</h5>
    {% endif %}
    {% if text %}
      {{ text }}
    {% endif %}
  </div>
</div>

<style>
  .gdc-section__paragraph.section--{{ section.id }} h5,
  .gdc-section__paragraph.section--{{ section.id }} h2 {
    color: {{ section.settings.font_color }};
    text-align: {{ section.settings.title_align }};
    margin: 0;
  }

  .gdc-section__paragraph.section--{{ section.id }} h2::before {
    content: '';
    background-color: aqua;
    display: inline-block;
    height: 50px;
    width: 5px;
    position: relative;
    top: 0;
    left: -50px;
  }


  .gdc-section__paragraph.section--{{ section.id }} h2 {
    font-size: {{ section.settings.title_size }}px;
  }

  .gdc-section__paragraph.section--{{ section.id }} h5 {
    font-size: {{ section.settings.subtitle_size }}px;
  }

  .gdc-section__paragraph.section--{{ section.id }} p {
    color: {{ section.settings.font_color }};
    text-align: {{ section.settings.text_align }};
  }

  .gdc-section__paragraph.section--{{ section.id }} p {
    font-size: {{ section.settings.text_size }}px;
  }
</style>
