{%- liquid 
  assign subjects_array = product.metafields.film_info.subjects.value | split: ',' 

-%}


<div class="gdc-info-list">
  <h3 class="gdc-info-list__subtitle">
    {{ product.metafields.film_info.film_maker.value }}
  </h3>

  <div class="gdc-info-list__horizontal">
    {% for subject in subjects_array %}
      <span>{{ subject }}</span>
    {% endfor %}
  </div>

  <ul>
    <li>Release Date: {{ product.metafields.film_info.release_date.value }}</li>
    <li>Running Time: {{ product.metafields.film_info.running_time.value }}</li>
    <li>Closed Captions: {{ product.metafields.film_info.closed_captions.value }}</li>
    <li>Availability: {{ product.metafields.film_info.availability.value }}</li>
    <li>Formats: {{ product.metafields.film_info.formats.value }}</li>
    <li>Hightlights / Awards:{{ product.metafields.film_info.highlights_and_awards.value }}</li>
    <li>Author Biography: {{ product.metafields.film_info.author_biography.value }}</li>
  </ul>
</div>

<style>
  .gdc-info-list {
    margin: 0;
  }

  .gdc-info-list__subtitle {
    margin: 0;
    margin-bottom: 20px;
  }

  .gdc-info-list__horizontal span {
    margin-right: 40px;
  }
  
  .gdc-info-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

</style>