{%- liquid 
  assign subjects_array = product.metafields.film_info.subjects.value | split: ',' 
  assign info = product.metafields.film_info

-%}


<div class="gdc-info-list">

  <h3 class="gdc-info-list__subtitle">
    {{ product.metafields.film_info.film_maker.value }}
  </h3>

  <div class="gdc-info-list__horizontal">
    {% for subject in subjects_array %}
      <span>{{ subject }}</span>
    {% endfor %}
  </div>

  <ul>
    {% if info.release_date.value != blank %}
      <li>Release Date <span>{{ info.release_date.value }}</span></li>
    {% endif %}
    {% if info.running_time.value != blank %}
      <li>Running Time <span>{{ info.running_time.value }}</span></li>
    {% endif %}
    {% if info.closed_captions.value != blank %}
      <li>Closed Captions <span>{{ info.closed_captions.value }}</span></li>
    {% endif %}
    {% if info.availability.value != blank %}
      <li>Availability <span>{{ info.availability.value }}</span></li>
    {% endif %}
    {% if info.formats.value != blank %}
      <li>Formats <span>{{ info.formats.value }}</span></li>
    {% endif %}
    {% if info.highlights_and_awards.value != blank %}
      <li>Hightlights / Awards<span>{{ info.highlights_and_awards.value }}</span></li>
    {% endif %}
    {% if info.author_biography.value != blank %}
      <li>Author Biography <span>{{ info.author_biography.value }}</span></li>
    {% endif %}
  </ul>

</div>

<style>
  .gdc-info-list {
    margin: 0;
  }

  .gdc-info-list__subtitle,
  .gdc-info-list__horizontal {
    margin-bottom: 20px !important;
  }

  .gdc-info-list__subtitle {
    margin: 0;
  }

  .gdc-info-list__horizontal span {
    margin-right: 20px;
  }
  
  .gdc-info-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .gdc-info-list ul li {
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
  }

  .gdc-info-list ul li:nth-child(odd) {
    background-color: #EEEEEE;
  }

</style>