{%- liquid
  
  assign ss = section.settings

  assign title = ss.title
  assign subtitle = ss.subtitle
  assign text = ss.text
  assign image = ss.image
  
-%}


<div class="gdc-section__paragraph-section section--{{ section.id }}">
  <div class="gdc-section__paragraph gdc-text__full-width section--{{ section.id }}">
    {% if title %}
      <h2>{{ title }}</h2>
    {% endif %}
    {% if subtitle %}
      <h5>{{ subtitle }}</h5>
    {% endif %}
    {% if text %}
      {{ text }}
    {% endif %}
  </div>
</div>

<style>
  .gdc-section__paragraph.section--{{ section.id }} h5,
  .gdc-section__paragraph.section--{{ section.id }} h2 {
    color: {{ ss.font_color }};
    text-align: {{ ss.text_align }};
    margin: 0;
    margin-bottom: 5px;
  }
  
  .gdc-section__paragraph.section--{{ section.id }} h2 {
    position: relative;
    font-size: {{ ss.title_size }}px;
  }

  .gdc-section__paragraph.section--{{ section.id }} h5 {
    font-size: {{ ss.subtitle_size }}px;
  }

  .gdc-section__paragraph.section--{{ section.id }} p {
    color: {{ ss.font_color }};
    text-align: {{ ss.text_align }};
  }

  .gdc-section__paragraph.section--{{ section.id }} p {
    font-size: {{ ss.text_size }}px;
  }
</style>
