{%- liquid 
  assign subjects_array = product.metafields.film_info.subjects.value | split: ',' 

-%}


<div class="gdc-info-list">

  <h3 class="gdc-info-list__subtitle">
    {{ product.metafields.film_info.film_maker.value }}
  </h3>

  <div class="gdc-info-list__horizontal">
    {% for subject in subjects_array %}
      <span>{{ subject }}</span>
    {% endfor %}
  </div>

  <ul>
    <li>Release Date: <span>{{ product.metafields.film_info.release_date.value }}</span></li>
    <li>Running Time: <span>{{ product.metafields.film_info.running_time.value }}</span></li>
    <li>Closed Captions: <span>{{ product.metafields.film_info.closed_captions.value }}</span></li>
    <li>Availability: <span>{{ product.metafields.film_info.availability.value }}</span></li>
    <li>Formats: <span>{{ product.metafields.film_info.formats.value }}</span></li>
    <li>Hightlights / Awards:<span>{{ product.metafields.film_info.highlights_and_awards.value }}</span></li>
    <li>Author Biography: <span>{{ product.metafields.film_info.author_biography.value }}</span></li>
  </ul>

</div>

<style>
  .gdc-info-list {
    margin: 0;
  }

  .gdc-info-list__subtitle,
  .gdc-info-list__horizontal {
    margin-bottom: 20px !important;
  }

  .gdc-info-list__subtitle {
    margin: 0;
  }

  .gdc-info-list__horizontal span {
    margin-right: 20px;
  }
  
  .gdc-info-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .gdc-info-list ul li {
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
  }

  .gdc-info-list ul li:nth-child(odd) {
    background-color: #EEEEEE;
  }

</style>