{%- liquid 
  assign info = product.metafields.film_info

  assign subjects_array = info.subjects.value | split: ',' 
  assign formats_array = info.formats.value | split: ',' 

-%}


<div class="gdc-product-metafields">

  <h3 class="gdc-product-metafields__section gdc-product-metafields__subtitle">
    {{ product.metafields.film_info.film_maker.value }}
  </h3>

  <div class="gdc-product-metafields__section gdc-product-metafields__horizontal-list">
    {% for subject in subjects_array %}
      <span>{{ subject }}</span>
    {% endfor %}
  </div>

  <ul class="gdc-product-metafields__section">
    {% if info.release_date.value != blank %}
      <li>Release Date <span>{{ info.release_date.value }}</span></li>
    {% endif %}
    {% if info.running_time.value != blank %}
      <li>Running Time <span>{{ info.running_time.value }}</span></li>
    {% endif %}
    {% if info.closed_captions.value != blank %}
      <li>Closed Captions <span>{{ info.closed_captions.value }}</span></li>
    {% endif %}
    {% if info.availability.value != blank %}
      <li>Availability <span>{{ info.availability.value }}</span></li>
    {% endif %}
    {% if info.highlights_and_awards.value != blank %}
      <li>Hightlights / Awards<span>{{ info.highlights_and_awards.value }}</span></li>
    {% endif %}
  </ul>

  {% if info.formats.value != blank %}
     <div class="gdc-product-metafields__section">
        <h4>Formats</h4>
        <select name="formats" id="formats">
          {% for format in formats_array %}
            <option value="{{ format }}">{{ format }}</option>
          {% endfor %}
        </select>
      </div>
  {% endif %}

  {% if info.author_biography.value != blank %}
  <div class="gdc-product-metafields__section">
    <h4>Author Biography </h4>
    <p>{{ info.author_biography.value }}</p>
    {% endif %}
  </div>

</div>

<style>
  .gdc-product-metafields {
    margin: 0;
  }

  .gdc-product-metafields__section {
    margin-bottom: 40px !important;
  }

  .gdc-product-metafields__subtitle {
    margin: 0;
  }

  .gdc-product-metafields__horizontal-list span {
    margin-right: 20px;
  }
  
  .gdc-product-metafields ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .gdc-product-metafields ul li {
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
  }

  .gdc-product-metafields ul li:nth-child(odd) {
    background-color: #EEEEEE;
  }

</style>