{%- liquid 
  assign info = product.metafields.film_info
  assign closed_captions = "No"

  assign filmmakers_array = info.film_maker.value | split: ',' 
  assign subjects_array = info.subjects.value | split: ',' 
  assign awards_array = info.highlights_and_awards.value | split: ',' 
  assign availability_array  = info.availability.value | split: ',' 
  assign institutions_array  = info.institutions.value | split: ',' 
  assign formats_array = info.formats.value | split: ',' 

  if info.closed_captions.value == true 
    assign closed_captions = "Yes"
  endif

-%}

<div class="gdc-product-film-info">

  <h2 class="gdc-product-film-info__section gdc-product-film-info__subtitle">
    {% for collection in collections %}
    

    {% for filmmaker in filmmakers_array %}

    {% if filmmaker == collection.title %}
    <a href="{{ collection.url }}">{{ filmmaker }}</a>
    {% endif %}

    {% endfor %}
    {% endfor %}

 
  </h2>

  <div class="gdc-product-film-info__section gdc-product-film-info__horizontal-list">
    {% for subject in subjects_array %}
      <span>{{ subject }}</span>
    {% endfor %}
  </div>

  <ul class="gdc-product-film-info__section">
    {% if info.release_date.value != blank %}
      <li>Release Date <span>{{ info.release_date.value }}</span></li>
    {% endif %}
    {% if info.running_time.value != blank %}
      <li>Running Time <span>{{ info.running_time.value }}</span></li>
    {% endif %}
    {% if info.closed_captions.value != blank %}
      <li>Closed Captions 
        <span>{{ closed_captions }}</span>
      </li>
    {% endif %}
    {% if info.availability.value != blank %}
      <li>Availability 
        <span>
        {% for country in availability_array %}
          {{ country }}
        {% endfor %}
        </span>
      </li>
    {% endif %}
    {% if info.highlights_and_awards.value != blank %}
      <li>Hightlights / Awards
        <span>
          {% for award in awards_array %}
            {{ award }}
          {% endfor %}
        </span>
      </li>
    {% endif %}
  </ul>

  <div class="gdc-product-film-info__section">
    {% if info.institutions.value != blank %}
      <div>
        <h4>Institutions</h4>
        <select class="gdc-product-film-info__select" name="institutions" id="institutions">
          {% for institution in institutions_array %}
          <option value="{{ institution }}">{{ institution }}</option>
          {% endfor %}
        </select>
      </div>
    {% endif %}
    
    {% if info.formats.value != blank %}
      <div>
        <h4>Formats</h4>
        <select class="gdc-product-film-info__select" name="formats" id="formats">
          {% for format in formats_array %}
          <option value="{{ format }}">{{ format }}</option>
          {% endfor %}
        </select>
      </div>
    {% endif %}
  </div>
</div>
