<div class="gdc-block__paragraph-wrapper block--{{ block.id }} {{ hide_mobile }} {{ hide_tablets }}">
  <div class="gdc-block__paragraph block--{{ block.id }}">
    {% if title != blank %}
      <h2>{{ title }}</h2>
    {% endif %}
    {% if subtitle != blank %}
      <h5>{{ subtitle }}</h5>
    {% endif %}
    {% if text != blank %}
      {{ text }}
    {% endif %}
  </div>
</div>

<style>
  .gdc-block__paragraph-wrapper.block--{{ block.id }} {
    margin-top: {{ block.settings.t_margin }}px;
    margin-bottom: {{ block.settings.b_margin }}px;
    padding-top: {{ block.settings.t_padding }}px;
    padding-bottom: {{ block.settings.b_padding }}px;
    background-color: {{ block.settings.bg_color }};
  }

  .gdc-block__paragraph.block--{{ section.id }} h5,
  .gdc-block__paragraph.block--{{ section.id }} h2 {
    color: {{ block.settings.font_color }};
    text-align: {{ block.settings.text_align }};
    margin: 0;
    margin-bottom: 5px;
  }

  .gdc-block__paragraph.section--{{ section.id }} h5 {
    font-size: {{ block.settings.subtitle_size }}px;
  }

  .gdc-block__paragraph.block--{{ block.id }} p {
    color: {{ block.settings.font_color }};
    text-align: {{ block.settings.text_align }};
  }
</style>
