<div class="gdc-section__paragraph-section section--{{ section.id }}">
  <div class="gdc-section__paragraph section--{{ section.id }}">
    {% if title %}
      <h2>{{ title }}</h2>
    {% endif %}
    {% if text %}
      {{ text }}
    {% endif %}
  </div>
</div>

<style>
  .gdc-section__paragraph.section--{{ section.id }} h2 {
    color: {{ section.settings.font_color }};
    text-align: {{ section.settings.title_align }};
  }

  .gdc-section__paragraph.section--{{ section.id }} p {
    color: {{ section.settings.font_color }};
    text-align: {{ section.settings.text_align }};
  }
</style>
