{%- assign ss = section.settings -%}

<section class="gdc-product-selector__wrapper section--{{ section.id }}">
  <div class="gdc-product-selector section--{{ section.id }}">
    <div class="gdc-product-selector__title-row">
      <h2>{{ ss.title }}</h2>
      <a href="{{ ss.btn_url }}">{{ ss.btn_text }}</a>
    </div>
    
    <div class="gdc-product-selector__row">
      {% for block in section.blocks %}
        {% if block.type == 'featured_product' %}
          <div class="gdc-product-selector__card">
            <a 
            href="{{ block.settings.product_item.url }}">
            <div class="gdc-product-selector__image">
              {% render 'gdc-image' image: block.settings.product_item.featured_image %}
            </div>
            
            <h4>
              {{ block.settings.product_item.title }}
            </h4>
          </a>
        </div>

        <style>
          .gdc-product-selector__card {
            flex-direction: column;
            margin: 20px 10px;
            color: {{ ss.text_color }};
            width: calc({{ ss.section_width }}vw / {{ ss.column_count }} - 20px);
            text-align: {{ ss.text_align }};
          }

          .gdc-product-selector__card h4 {
            color: {{ ss.text_color }};
            margin-bottom: 0;
          }
        </style>
      {% endif %}
    {% endfor %}
  </div>
</div>

</section>

<style>
  .gdc-product-selector__wrapper.section--{{ section.id }} a {
    text-decoration: none;
    color: {{ ss.text_color }} !important;
  }

  .gdc-product-selector__wrapper.section--{{ section.id }} h2 {
    color: {{ ss.title_color }} !important;
    margin: 0;
  }

  .gdc-product-selector__wrapper.section--{{ section.id }} {
    margin-top: {{ ss.t_margin }}px;
    margin-bottom: {{ ss.b_margin }}px;
    padding-top: {{ ss.t_padding }}px;
    padding-bottom: {{ ss.b_padding }}px;
    background-color: {{ ss.bg_color }};
  }
  
  .gdc-product-selector.section--{{ section.id }} {
    width: {{ ss.section_width }}vw;
    margin: 0 auto;
  }

  .gdc-product-selector__row,
  .gdc-product-selector__card, 
  .gdc-product-selector__title-row {
    display: flex;
  }
  
  .gdc-product-selector__title-row {
    justify-content: space-between;
    padding: 0 10px;
  }

  .gdc-product-selector__row {
    flex-wrap: wrap; 
    justify-content: center;
  }

  .gdc-product-selector__image {
    border-radius: 20px;
    width: 100%;
    {% if ss.image_shape == 'round' or ss.image_shape == 'square' %}
      height: calc({{ ss.section_width }}vw / {{ ss.column_count }} - 20px);
    {% endif %}
    
    {% if ss.image_shape == 'rectangle' %}
      min-height: 200px;
      height: 20vw;
    {% endif %}

    {% if ss.image_shape == 'round' %}
      border-radius: 50% !important;
    {% endif %}
    overflow: hidden;
  }

  .gdc-product-selector__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* @media screen and (max-width: 750px) {
    .gdc-product-selector__row {
      justify-content: center;
    }
  } */
</>

{% schema %}
  {
    "name": "GDC: Product Selector", 
    "settings": [
      {
        "type": "header",
        "content": "Section Settings" 
      },
      {
        "type": "range",
        "id": "section_width",
        "label": "Section Width",
        "default": 100,
        "min": 50,
        "max": 100,
        "step": 1,
        "unit": "%"
      },
      {
        "type": "range",
        "id": "t_margin",
        "label": "Section Top margin",
        "default": 0,
        "min": 0,
        "max": 200,
        "step": 10,
        "unit": "px" 
      },
      {
        "type": "range",
        "id": "b_margin",
        "label": "Section Bottom margin",
        "default": 0,
        "min": 0,
        "max": 200,
        "step": 10,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "t_padding",
        "label": "Section Top padding",
        "default": 0,
        "min": 0,
        "max": 200,
        "step": 10,
        "unit": "px" 
      },
      {
        "type": "range",
        "id": "b_padding",
        "label": "Section Bottom padding",
        "default": 0,
        "min": 0,
        "max": 200,
        "step": 10,
        "unit": "px"
      },
      {
        "type": "header",
        "content": "Product Settings" 
      },
      {
        "type": "range",
        "id": "column_count",
        "label": "Items per row",
        "default": 5,
        "min": 1,
        "max": 10,
        "step": 1
      },
      {
        "type": "range",
        "id": "border_radius",
        "label": "Image Rounded corners",
        "default": 0,
        "min": 0,
        "max": 100,
        "step": 1
      },
      {
        "type": "select",
        "id": "text_align",
        "label": "Item Text alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "left"
      },
      {
        "type": "select",
        "id": "image_shape",
        "label": "Item Image Shape",
        "options": [
          {
            "value": "square",
            "label": "Square"
          },
          {
            "value": "rectangle",
            "label": "Rectangle"
          },
          {
            "value": "round",
            "label": "Round"
          }
        ],
        "default": "rectangle"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color",
        "default": "#ededed"
      },
      {
        "type": "color",
        "id": "title_color",
        "label": "Title Color",
        "default": "#111"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text Color",
        "default": "#111"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "btn_text",
        "label": "Button Text",
        "default": "View All"
      },
      {
        "type": "url",
        "id": "item_url",
        "label": "Button Link"
      }
    ],
    "blocks": [
      {
        "type": "featured_product",
        "name": "Featured product",
        "settings": [
          {
            "type": "product",
            "id": "product_item",
            "label": "Product Item"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "GDC: Product Selector",
        "category": "GDC Custom Components"
      }
    ]
  }
{% endschema %}