{%-liquid 
  assign ss = section.settings 
  assign bs = block.settings
  -%}

<section class="gdc-shapes__wrapper">
  SHAPES 
  {% for block in section.blocks %}
    {% if block.type == "shape" %}
      <div class="gdc-shape"></div>
    {% endif %}
  {% endfor %}

</section>

<style>
  .gdc-shapes__wrapper.section--{{ section.id }} {
    display: flex;
    margin-top: {{ ss.t_margin }}px;
    margin-bottom: {{ ss.b_margin }}px;
    padding-top: {{ ss.t_padding }}px;
    padding-bottom: {{ ss.b_padding }}px;
    background-color: {{ ss.bg_color }};
  }

  .gdc-shape {
    width: {{ bs.width }};
    height: {{ bs.height }};
    background-color: {{ bs.bg_color }};
  }

</style>

{% schema %}
  {
    "name": "GDC: Shapes",    
    "settings": [
      {
        "type": "header",
        "content": "Section Settings" 
      },
      {
        "type": "range",
        "id": "t_margin",
        "label": "Section Top margin",
        "default": 0,
        "min": 0,
        "max": 200,
        "step": 10,
        "unit": "px" 
      },
      {
        "type": "range",
        "id": "b_margin",
        "label": "Section Bottom margin",
        "default": 0,
        "min": 0,
        "max": 200,
        "step": 10,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "t_padding",
        "label": "Section Top padding",
        "default": 20,
        "min": 0,
        "max": 200,
        "step": 10,
        "unit": "px" 
      },
      {
        "type": "range",
        "id": "b_padding",
        "label": "Section Bottom padding",
        "default": 20,
        "min": 0,
        "max": 200,
        "step": 10,
        "unit": "px"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color",
        "default": "#ededed"
      }
    ],
    "blocks": [
      {
        "type": "shape",
        "name": "Shape",
        "settings": [
          {
            "type": "color",
            "id": "bg_color",
            "label": "Background Color",
            "default": "#ededed"
          },
          {
            "type": "range",
            "id": "width",
            "label": "Shape Width",
            "default": 50,
            "min": 10,
            "max": 350,
            "step": 10,
            "unit": "px" 
          },
          {
            "type": "range",
            "id": "height",
            "label": "Shape Height",
            "default": 50,
            "min": 10,
            "max": 350,
            "step": 10,
            "unit": "px" 
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "GDC: Shapes",
        "category": "GDC Custom Components",
        "blocks": []
      }
    ]
  }
{% endschema %}