{%- assign ss = section.settings -%}

<section class="gdc-product-selector__wrapper section--{{ section.id }}">
  <div class="gdc-product-selector section--{{ section.id }}">
    <div class="gdc-product-selector__title-row">
      Test Title
      <a href="#">View All</a>
    </div>
    
    <div class="gdc-product-selector__row">
      {% for block in section.blocks %}
        {% if block.type == 'featured_product' %}
          <div class="gdc-product-selector__card">
            <a 
            href="{{ ss.item_url }}">
            TEST CARD
            <h4>
              Product Title = {{ block.product_item }}
            </h4>
          </a>
        </div>

        <style>
          .gdc-product-selector__card {
            flex-direction: column;
            width: 250px;
            background-color: {{ block.settings.card_bg_color }};
            border: 1px solid red;
          }
        </style>
      {% endif %}
    {% endfor %}
  </div>
</div>

</section>

<style>
  .gdc-product-selector__wrapper a {
    text-decoration: none;
  }

  .gdc-product-selector__wrapper.section--{{ section.id }} {
    margin-top: {{ ss.t_margin }}px;
    margin-bottom: {{ ss.b_margin }}px;
    padding-top: {{ ss.t_padding }}px;
    padding-bottom: {{ ss.b_padding }}px;
    background-color: {{ ss.bg_color }};
    width: 100%;
  }
  
  .gdc-product-selector.section--{{ section.id }} {
    width: {{ ss.section_width }}%;
    margin: 0 auto;
  }

  .gdc-product-selector__row,
  .gdc-product-selector__card,
  .gdc-product-selector__title-row {
    display: flex;
  }
  
  .gdc-product-selector__title-row {
    justify-content: space-between;
  }
</>

{% schema %}
  {
    "name": "GDC: Product Selector", 
    "settings": [
      {
        "type": "header",
        "content": "Section Settings" 
      },
      {
        "type": "range",
        "id": "section_width",
        "label": "Section Width",
        "default": 100,
        "min": 50,
        "max": 100,
        "step": 1,
        "unit": "%"
      },
      {
        "type": "range",
        "id": "t_margin",
        "label": "Section Top margin",
        "default": 0,
        "min": 0,
        "max": 200,
        "step": 10,
        "unit": "px" 
      },
      {
        "type": "range",
        "id": "b_margin",
        "label": "Section Bottom margin",
        "default": 0,
        "min": 0,
        "max": 200,
        "step": 10,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "t_padding",
        "label": "Section Top padding",
        "default": 0,
        "min": 0,
        "max": 200,
        "step": 10,
        "unit": "px" 
      },
      {
        "type": "range",
        "id": "b_padding",
        "label": "Section Bottom padding",
        "default": 0,
        "min": 0,
        "max": 200,
        "step": 10,
        "unit": "px"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color",
        "default": "#ededed"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Background Image"
      },
      {
        "type": "checkbox",
        "id": "enable_parallax",
        "default": false,
        "label": "Enable Parallax"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "btn_text",
        "label": "Button Text"
      },
      {
        "type": "url",
        "id": "item_url",
        "label": "Button Link"
      }
    ],
    "blocks": [
      {
        "type": "featured_product",
        "name": "Featured product",
        "settings": [
          {
            "type": "product",
            "id": "product_item",
            "label": "Product Item"
          },
          {
            "type": "color",
            "id": "card_bg_color",
            "label": "Card Background Color",
            "default": "#ededed"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "GDC: Product Selector",
        "category": "GDC Custom Components"
      }
    ]
  }
{% endschema %}