{%- assign ss = section.settings -%}

<section class="gdc-product-selector__wrapper section--{{ section.id }} ">
  <div class="gdc-product-selector__info">
    Test Title
  </div>
  <div class="gdc-product-selector__row">
    <div class="gdc-product-selector__card">
      <a 
        href="{{ ss.item_url }}">
        TEST CARD
        <h4>
          Test Title
        </h4>
      </a>

  </div>
  

</div>

</section>

<style>
  .gdc-product-selector__wrapper.section--{{ section.id }} {
    background-size: cover;
    margin-top: {{ ss.t_margin }}px;
    margin-bottom: {{ ss.b_margin }}px;
    padding-top: {{ ss.t_padding }}px;
    padding-bottom: {{ ss.b_padding }}px;
  }
</style>

{% schema %}
  {
    "name": "GDC: Product Selector", 
    "settings": [
      {
        "type": "header",
        "content": "Section Settings" 
      },
      {
        "type": "range",
        "id": "t_margin",
        "label": "Section Top margin",
        "default": 0,
        "min": 0,
        "max": 200,
        "step": 10,
        "unit": "px" 
      },
      {
        "type": "range",
        "id": "b_margin",
        "label": "Section Bottom margin",
        "default": 0,
        "min": 0,
        "max": 200,
        "step": 10,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "t_padding",
        "label": "Section Top padding",
        "default": 0,
        "min": 0,
        "max": 200,
        "step": 10,
        "unit": "px" 
      },
      {
        "type": "range",
        "id": "b_padding",
        "label": "Section Bottom padding",
        "default": 0,
        "min": 0,
        "max": 200,
        "step": 10,
        "unit": "px"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color",
        "default": "#ededed"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Background Image"
      },
      {
        "type": "checkbox",
        "id": "enable_parallax",
        "default": false,
        "label": "Enable Parallax"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "btn_text",
        "label": "Button Text"
      },
      {
        "type": "url",
        "id": "item_url",
        "label": "Button Link"
      }
    ],
    "blocks": [
      {
        "type": "featured_product",
        "name": "Featured product",
        "settings": [
          {
            "type": "product",
            "id": "product_item",
            "label": "Product Item"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "GDC: Product Selector",
        "category": "GDC Custom Components"
      }
    ]
  }
{% endschema %}